/* CSS Document */
/************************* Colors
	red - #aa4a14
	yellow - #d9b818
	green - #42b592
	beige - #f5f3ec
*/
/************************* Reset */
html, body, header, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
}
/************************* Common */
.ultra {
	font-family: 'Ultra', serif;
}
.bg-red {
	background-color: #aa4a14;
}
.bg-yellow {
	background-color: #d9b818;
}
.bg-green {
	background-color: #42b592;
}
.bg-beige {
	background-color: #f5f3ec;
}
.text-white {
	color: #fff;
}
/************************* Elements */
body {
	font-family: 'PT Sans', sans-serif;
	color: #000;
	/*background-color: #f5f3ec;*/
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 0 0 0.5em 0;
}
h1 {
	font-family: 'Ultra', serif;
	font-size: 2em;
}
h2, h3, h4, h5, h6 {
	padding: 1em 0 0 0;
}
h2 {
	font-family: 'Ultra', serif;
	font-size: 1.2em;
}
h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 700;
}
h4 {
	font-family: 'Ultra', serif;
	font-size: 1.15em;
}
h5 {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.15em;
	font-weight: 700;
}
h6 {
	font-family: 'Ultra', serif;
	font-size: 1em;
	text-align: center;
	line-height: 0;
	border-bottom: 1px solid #f5f3ec;
	margin: 2em 0 1em 0;
}
h6 span {
	background-color: #FFF;
	padding: 0 6px;
}
hr {
	border-top: 1px dotted #f5f3ec;
	width: 75%;
	margin: 3em auto;
}
blockquote {
	max-width: 80%;
	margin: 0 auto 1em auto;
	font-style: italic;
	font-size: 140%;
	position: relative;
	quotes: "\201C" "\201D" "\2018" "\2019";
	font-family: 'PT Sans', sans-serif;
}
blockquote::before {
	font-family: 'Ultra', serif;
	color: #aa4a14;
	content: open-quote;
	position: absolute;
	top: -13px;
	left: -55px;
	font-style: normal;
	font-size: 3em;
}
blockquote p {
	font-style: italic;
}
ul {
	margin: 0 0 1em 1em;
	font-family: 'PT Sans', sans-serif;
}
ul li {
	font-size: 0.95em;
	margin: 0 0 0.5em 1em;
	margin: 0 0 0.5em 0.5em;
	line-height: 1.4;
}
ol {
	margin: 0 0 1em 1em;
	font-family: 'PT Sans', sans-serif;
}
ol li {
	font-size: 0.95em;
	margin: 0 0 0.5em 1em;
	line-height: 1.4;
}
p {
	font-size: 0.95em;
	margin: 0 0 1em 0;
	line-height: 1.55;
}
p.small {
	font-size: 80%;
}
span.eyebrow {
	display: inline-block;
	background-color: #d9b818;
	text-transform: uppercase;
	padding: 5px 10px;
	margin: 0 0 10px 0;
	font-size: 0.7em;
	font-weight: 700;
}
/************************* Tables */
table {
	margin: 0 auto 2em auto;
	border: 1px solid #f5f3ec;
	max-width: 80%;
	font-size: 0.8em;
	border-collapse: separate;
	border-spacing: 0;
	font-family: 'PT Sans', sans-serif;
}
table caption {
	font-size: 1.2em;
	font-weight: 700;
	text-align: center;
	padding: 0.25em 0;
}
thead {
	background-color: #f5f3ec;
}
th {
	font-family: 'Ultra', serif;
	text-align: center;
	padding: 5px;
}
td {
	padding: 5px;
}
/************************* Links */
a {
	color: #aa4a14;
	/*text-decoration: underline;*/
	padding: 0 0 1px 0;
}
a:hover, a.hover {
	background-color: #f5f3ec;
}
a:active, a.active {
	background-color: #d9b818;
}
/************************* Images */
img {
	max-width: 100%;
}
article img {
	padding-bottom: 2px;
	border-bottom: 5px solid #aa4a14;
}
article img.left {
	float: left;
	margin: 0 30px 30px 0;
}
article img.right {
	float: right;
	margin: 0 0 30px 30px;
}
figure {
	display: inline-block;
}
figcaption {
	text-align: center;
	font-style: italic;
}
/************************* Article */
article hgroup h1 {
}
article hgroup h1 span.access-type {
}
/************************* Free / Members Access Type */
span.access-type {
	display: inline-block;
	font-family: 'PT Sans', sans-serif !important;
	text-transform: uppercase;
	padding: 3px 8px;
	margin: 0 0 0 10px;
	font-size: 0.3em !important;
	font-weight: 700 !important;
	letter-spacing: 1px;
	vertical-align: middle;
}
span.access-type.free {
	background-color: #42b592;
	color: #FFF;
}
span.access-type.members {
	background-color: #aa4a148;
	color: #FFF;
}
/************************* Colors */
ul.colors {
	list-style: none !important;
	margin: 0 0 30px 0 !important;
	padding: 0 !important;
	width: 100%;
	display: inline-block;
}
ul.colors li {
	height: 100px;
	width: 100px;
	float: left;
	margin: 0 30px 30px 0;
	padding: 10px;
	text-align: center;
}
/************************* Forms */
form {
	/*background-color: #eceae1;
	padding: 20px;
	border: 1px solid #c0bdaf;
	margin: 0 0 30px 0;*/
}
form label {
	/* display: block; */
	margin: 0 0 4px 0;
}
form div {
	display: block;
	margin: 0 0 10px 0;
}
input[type="text"], input[type="password"], textarea, select {
	border-radius: 3px;
	padding: 5px 8px;
	margin: 0 20px 15px 0;
	border-radius: 3px;
	border: 1px solid #CCC;
	font-family: 'Ultra', serif;
	font-size: 0.75em;
	min-width: 200px;
}
input[type="text"], input[type="password"], select {
	height: 31px;
}
input[type="submit"], form button {
	-webkit-appearance: none;
	border-radius: 3px;
	clear: both;
	display: inline-block;
	margin: 0 1.5em 1em 0;
	padding: 8px 10px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #42b592;
	border: 1px solid #2e876c;
	color: #FFF;
	font-size: 0.8em;
}
input[type="submit"].alt {
	background-color: #aa4a14;
	border: 1px solid #78350f;
}
/************************* Recipe */
.ingredients {
	background-color: #eceae1;
	padding: 20px;
}
.ingredients ul {
	margin: 0 0 30px 0 !important;
	padding: 0 0 0 0;
	font-size: 90%;
}
.ingredients ul li {
	margin: 0 0 10px 0;
	padding: 10px 0;
	border-bottom: 1px dotted #a3a3a3;
	list-style-type: none;
}
.ingredients ul li:last-of-type {
	border-bottom: none;
}
.step-by-step {
}
.step-by-step ol {
	margin: 0 0 30px 25px !important;
	padding: 0;
	counter-reset: li-counter;
	font-size: 90%;
}
.step-by-step ol li {
	position: relative;
	margin: 0 0 20px -4px;
	padding: 0 0 0 5px;
	content: counter(ol-counter);
	counter-increment: ol-counter;
	list-style-type: decimal;
}
.step-by-step ol li:before {
	position: absolute;
	font-family: 'Ultra', serif;
	top: 2px;
	left: -1.6em;
	width: 1.5em;
	height: 1.5em;
	font-size: 0.8em;
	line-height: 1.5;
	text-align: center;
	color: #FFF;
	border-radius: 50%;
	background-color: #9f9075;
	content: counter(li-counter);
	counter-increment: li-counter;
}
.overview {
}
/************************* Teasers */
.teaser {
	max-width: 280px;
	float: left;
	margin: 0 40px 40px 0;
}
.teaser figure {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}
.teaser span.eyebrow {
	position: absolute;
	top: 10px;
	left: 0;
}
.teaser span.access-type {
	margin: 1em auto 0 auto;
	display: table;
}
.teaser h4 {
	text-align: center;
	width: 90%;
	margin: 0 auto 0.3em auto;
	padding: 0.25em 0 0 0;
}
.teaser p {
	font-size: 80%;
}
/************************* Callout */
.callout {
	background-color: #eceae1;
	padding: 25px 15px;
	width: 90%;
	width: calc(100% - 40px);
	text-align: center;
}
.callout h6 {
	margin: 0 0 1.2em 0;
	border-bottom: 1px solid #7D7D7D;
}
.callout h6 span {
	background-color: #eceae1;
}
.callout form {
	margin: 0;
	padding: 0;
	border: none;
}

/* and  (min-width: 601px) and  (max-width: 999px) */
@media only screen and (min-width: 37.51em) and (max-width: 62.4375em) {
}

/* and  (min-width: 1000px) and  (max-width: 1200px) */
@media only screen and (min-width: 62.4376em) and (max-width: 75.0624em) {
}

/* and  (min-width: 1201px) */
@media only screen and (min-width: 75.0625em) {
/************************* Recipe */
/*
article.recipe {
	width :120%;
	margin-left: -10%;
}
article.recipe figure {
	width: 100%;
	margin: 0 0 25px 0;
}
.instructions {
	width: 60%;
	margin-right: 10%;
	float: left;
}
.overview {
	width: 30%;
	float: left;
}
*/
}


/*
Cleo's New to Brew CSS
*/

.page-template-template-new-to-brew .step-by-step ol li {
	position: relative;
	margin: 0 0 20px -4px;
	padding: 0 0 0 5px;
	content: counter(ol-counter);
	counter-increment: ol-counter;
	list-style-type: decimal;
	font-family: 'Ultra', serif;
	font-size:1em;
}

.page-template-template-new-to-brew .step-by-step ol li:before {
	position: absolute;
	font-family: 'Ultra', serif;
	top: 2px;
	left: -1.8em;
	width: 1.5em;
	height: 1.5em;
	font-size: 0.8em;
	line-height: 1.5;
	text-align: center;
	color: #FFF;
	border-radius: 50%;
	background-color: #9f9075;
	content: counter(li-counter);
	counter-increment: li-counter;
}

.page-template-template-new-to-brew h3 {
	text-transform:uppercase;
}

.page-template-template-new-to-brew .small-titles {
	font-family: 'Ultra', serif;
	font-size: 1em;
}

.page-template-template-new-to-brew .indent {
padding-left:20px;
}
