
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

/* byo
 * http://andregagnon.com
 * Write your theme styles here
 */

/* byo http://andregagnon.com Write your theme styles here */

a {
  color: #337ab7;
  color: #aa4a14;
  text-decoration: underline;
  &:visited, &:active {
    color: #337ab7;
    color: #aa4a14;
    text-decoration: underline;
  }
  &:visited {
    color: #8a2a04;
  }
  &:hover, &:focus {
    color: #23527c;
    color: #aa4a14;
  }
}

input[type=submit] {
  padding: 10px 20px;
  font-size: 16px;
}

.container-fluid, .container {
  width: 100%;
}

.navbar-container {
  margin: 0 5%;
}

@media only screen and (min-width: 765px) {
  .navbar-container {
    margin: 0 5%;
  }
}

.form-inline .form-group {
  margin-bottom: 15px;
}

.search-found {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

@media only screen and (min-width: 765px) {
  .search-found {
    text-align: left;
  }
}

.search-pagination {
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-nav {
  display: inline;
  text-align: left;
  .pager {
    display: inline;
    li {
      margin: 0;
      padding: 4px 8px;
      display: inline;
      a {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 765px) {
  .post-nav {
    text-align: left;
  }
}

body {
  &.logged-in {
    // .tophat .nav > li.logged-out,
    .footer-menu li.logged-out {
      display: none;
    }
  }
  &.logged-out .tophat .nav > li.logged-in {
    display: none;
  }
  &.subscribed .tophat .nav > li.tophat-free-trial,
  &.expired .tophat .nav > li.tophat-free-trial,
  &.active .tophat .nav > li.tophat-free-trial
   {
    display: none;
  }
}

.tophat {
  padding: 2px 0 4px 0;
  line-height: 24px;
  background-color: #aa4a14;
  #tophat-right {
    float: right;
  }
  .nav > li {
    a {
      padding: 5px 0 0 0;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        background-color: transparent;
      }
    }
    .name {
      text-decoration: underline;
    }
    &.tophat-free-trial {
      background-color: #f5d703;
      padding: 2px 10px 13px 10px;
      margin-bottom: -15px;
      margin-left: -15px;
      a {
        color: black;
      }
    }
    &.tophat-log-in .fa-user, &.tophat-log-out .fa-user {
      background-color: #555555;
      padding: 4px 10px 15px 10px;
      margin-top: -4px;
      margin-bottom: -15px;
      margin-right: 0px;
      font-size: 18px;
    }
  }
}

.navbar-toggle {
  background-color: #42b592;
  border-radius: 124px;
  .icon-bar {
    background-color: white !important;
  }
  &:focus, &:hover {
    background-color: #42b592 !important;
    background-color: transparent;
  }
}

.primary-menu .nav > li a {
  padding: 5px 2px;
  font-size: 12px;
  font-weight: 400;
  color: black !important;
  text-transform: capitalize !important;
  text-decoration: none;
  &:hover {
    background-color: transparent;
  }
}

@media only screen and (min-width: 765px) {
  .primary-menu .nav > li a {
    padding: 45px 2px;
  }
}

.logo-background-lg, .logo-background-sm {
  background-image: url(../../../uploads/logo-background.png);
  background-repeat: repeat-x;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  .navbar-nav > li > a {
    text-transform: uppercase;
    &:hover {
      background-color: transparent;
    }
  }
}

.navbar {
  margin-bottom: 0px;
}

@media only screen and (min-width: 1080px) {
  .desktop .primary-menu-right {
    float: right;
  }
}

.subscribe-tag {
  position: fixed;
  top: 140px;
  left: 15px;
  z-index: 2000;
  .container {
    background-color: #42b592;
    padding: 5px 10px 5px 15px;
    -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    a {
      background-color: #42b592;
      color: white;
      text-decoration: none;
      .arrow {
        color: #d9b818;
        font-size: 16px;
      }
      &:hover {
        background-color: #42b592;
        color: white;
      }
    }
  }
}

.form-page {
  background-color: #eeeae1;
  margin: 0;
  padding: 50px;
  .form-group {
    display: inline-block;
  }
  .search-field {
    font-family: 'Ultra', serif;
    margin-top: 12px;
    padding: 4px 8px;
    width: 90%;
  }
  .search-submit {
    background-color: #42b592;
    color: white;
  }
}

@media only screen and (min-width: 765px) {
  .form-page .form-group {
    width: 80%;
  }
}

.form-title {
  background-color: #eeeae1;
  margin: 0;
  padding: 15px 50px 5px;
}

.search .form-page {
  margin-top: -15px;
}

.eyebrow-image .eyebrow {
  top: 20px;
  z-index: 1000;
  position: absolute;
}

.front-magazine {
  padding: 20px 20px;
  background-color: #f5f3ec;
  .content {
    min-height: 400px;
  }
  h6 {
    margin: 0 0 20px 0 !important;
    padding: 5px 0px;
    font-size: 21px;
    &.clean {
      line-height: normal !important;
      border: 0;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .front-magazine h6 {
    font-size: 28px;
  }
}

.front-mr-wizard {
  background-color: #aa4a14;
  padding: 20px 20px;
  h6 {
    margin: 0 0 20px 0 !important;
    padding: 0;
    border: 0;
    color: white;
    &.clean {
      line-height: normal !important;
      border: 0;
    }
  }
  a.answer {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1080px) {
  .front-mr-wizard {
    padding: 20px 300px;
  }
}

.front-latest-issue {
  margin: 20px 0 20px 0;
  .image {
    margin: 60px auto 0;
    float: left;
    text-align: center;
  }
  img {
    border-bottom: 0;
  }
  hr {
    margin: 5px 0 !important;
    width: 100%;
    border-top: 1px solid #eeeae1;
  }
  .sign-off {
    display: inline-block;
    p {
      margin: 0;
    }
  }
}

.front-publisher {
  padding: 20px 20px;
  h6 {
    margin: 0 0 20px 0 !important;
    padding: 0;
    &.clean {
      line-height: normal !important;
      border: 0;
    }
  }
  img {
    border: 0;
    margin: auto;
    display: block;
  }
}

@media only screen and (min-width: 765px) {
  .front-publisher {
    padding: 20px 40px 20px 20px;
  }
}

.front-testimonial {
  background-color: #f5f3ec;
  padding: 20px 20px;
  h6 {
    margin: 20px 0 20px 0 !important;
    padding: 0;
    &.clean {
      line-height: normal !important;
      border: 0;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .front-testimonial {
    padding: 20px 300px;
  }
}

@media only screen and (min-width: 480px) {
  .front-testimonial .author {
    margin-left: 56px;
  }
}

@media only screen and (min-width: 765px) {
  .front-testimonial .author {
    margin-left: 72px;
  }
}

@media only screen and (min-width: 1080px) {
  .front-testimonial .author {
    margin-left: 80px;
  }
}

.form-email-1, .form-email-2 {
  background-color: #f5f3ec;
  padding: 20px 20px;
}

@media only screen and (min-width: 1080px) {
  .form-email-1, .form-email-2 {
    padding: 20px 300px;
  }
}

.form-email-1 h6, .form-email-2 h6 {
  margin: 20px 0 20px 0 !important;
  padding: 0;
  border-bottom: 1px solid #d8d8d8;
}

.form-email-1 h6.clean, .form-email-2 h6.clean {
  line-height: normal !important;
  border: 0;
}

.subscribe-1 {
  h2 {
    margin: 20px 0;
    border-bottom: 1px solid #e8e8e8;
    line-height: 0;
  }
  .fa {
    font-size: 50px;
    color: black;
  }
  img {
    height: 90px;
    border: 0;
    margin: 40px 0 20px 0;
  }
  .desc {
    min-height: 120px;
    padding: 0 20px;
  }
  .price {
    font-size: 24px;
    color: #aa4a14;
  }
  a {
    &.button {
      margin: 0 0 40px 0;
      display: inline-block;
      padding: 10px 20px;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
    }
    &:hover {
      color: white;
    }
  }
  .color-black {
    color: #000;
  }
  .color-green {
    color: #42b592;
  }
  .color-red {
    color: #aa4a14;
  }
  .bkgnd-black {
    background-color: #000;
  }
  .bkgnd-green {
    background-color: #42b592;
  }
  .bkgnd-red {
    background-color: #aa4a14;
  }
}

@media only screen and (min-width: 1080px) {
  .subscribe-1 .desc {
    min-height: 100px;
  }
}

@media only screen and (min-width: 1080px) {
  .subscribe-1 a.button {
    font-size: 20px;
  }
}

.red-heading {
  color: #aa4a14;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.yellow-heading {
  color: #d9b818;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.lock-content {
  background-color: #eeeae1;
  padding: 5px 20px;
  color: white;
}

.unlock-content {
  background-color: #42b592;
  padding: 5px 25px;
  color: white;
}

.troubleshooting a, .recipes a, .projects a {
  text-decoration: underline;
}

.troubleshooting .heading, .recipes .heading, .projects .heading {
  padding: 0;
  color: #aa4a14 !important;
}

.resource-template .chart {
  .heading {
    font-weight: bold;
    border: 1px solid black;
    div {
      background-color: #f5d703;
    }
  }
  .content {
    border-top: 1px solid black;
  }
}

.supplier hr {
  margin: 5px 0 !important;
  width: 100%;
  border-top: 1px solid #eeeae1;
}

.restriction {
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  .lock-content, .unlock-content {
    margin: 8px 4px;
    line-height: 40px;
  }
}

.subscribed .restriction .lock-content {
  display: none;
}

.recipes-content .content, .projects .content {
  min-height: 0px;
}

@media only screen and (min-width: 765px) {
  .recipes-content .content, .projects .content {
    min-height: 420px;
  }
}

@media only screen and (min-width: 1080px) {
  .recipes-content .content, .projects .content {
    min-height: 390px;
  }
}

.recipes-content .content .title a, .projects .content .title a, .recipes-content .content .title a h2, .projects .content .title a h2 {
  text-align: center;
}

.troubleshooting .content {
  min-height: 0px;
  .title a {
    text-align: center;
    h2 {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 765px) {
  .troubleshooting .content {
    min-height: 120px;
  }
}

@media only screen and (min-width: 1080px) {
  .troubleshooting .content {
    min-height: 190px;
  }
}

.troubleshooting-popular .content .title, .recipes-popular .content .title, .recipes-filter .content .title, .projects-popular .content .title, .browse-card .content .title, .search-result .content .title, .troubleshooting-popular .content .title a, .recipes-popular .content .title a, .recipes-filter .content .title a, .projects-popular .content .title a, .browse-card .content .title a, .search-result .content .title a {
  display: inline;
}

.troubleshooting-popular .content .title a {
  h2, h3 {
    font-family: 'PT Sans', sans-serif;
    display: inline;
  }
}

.recipes-popular .content .title a {
  h2, h3 {
    font-family: 'PT Sans', sans-serif;
    display: inline;
  }
}

.recipes-filter .content .title a {
  h2, h3 {
    font-family: 'PT Sans', sans-serif;
    display: inline;
  }
}

.projects-popular .content .title a {
  h2, h3 {
    font-family: 'PT Sans', sans-serif;
    display: inline;
  }
}

.browse-card .content .title a {
  h2, h3 {
    font-family: 'PT Sans', sans-serif;
    display: inline;
  }
}

.search-result .content .title a {
  h2, h3 {
    font-family: 'PT Sans', sans-serif;
    display: inline;
  }
}

.troubleshooting-popular .content .title h2, .recipes-popular .content .title h2, .recipes-filter .content .title h2, .projects-popular .content .title h2, .browse-card .content .title h2, .search-result .content .title h2 {
  display: inline;
  font-family: 'PT Sans', sans-serif;
}

.troubleshooting-popular .content .title h2 a, .recipes-popular .content .title h2 a, .recipes-filter .content .title h2 a, .projects-popular .content .title h2 a, .browse-card .content .title h2 a, .search-result .content .title h2 a {
  display: inline;
}

.troubleshooting-popular .content .title .restriction, .recipes-popular .content .title .restriction, .recipes-filter .content .title .restriction, .projects-popular .content .title .restriction, .browse-card .content .title .restriction, .search-result .content .title .restriction {
  display: inline;
  white-space: nowrap;
}

.troubleshooting-popular h6.searches, .recipes-popular h6.searches, .recipes-filter h6.searches, .projects-popular h6.searches, .browse-card h6.searches, .search-result h6.searches {
  background-color: #443823;
  padding: 20px;
  color: white;
}

.troubleshooting-popular a, .recipes-popular a, .recipes-filter a, .projects-popular a, .browse-card a, .search-result a {
  text-decoration: underline;
}

.troubleshooting-popular a h2, .recipes-popular a h2, .recipes-filter a h2, .projects-popular a h2, .browse-card a h2, .search-result a h2 {
  font-family: 'PT Sans', sans-serif;
}

h6.searches {
  background-color: #443823;
  padding: 20px;
  color: white;
  line-height: 1 !important;
}

.mr-wizard {
  padding: 0 10px;
  .question-icon, .answer-icon {
    display: none;
  }
}

@media only screen and (min-width: 765px) {
  .mr-wizard {
    padding: 0 50px;
  }
}

@media only screen and (min-width: 765px) {
  .mr-wizard {
    .question-icon, .answer-icon {
      display: block;
    }
  }
}

.question-icon, .answer-icon {
  line-height: 80px;
  margin: 0 0 -90px -80px;
  padding: 30px 0 0 0;
  font-size: 48px;
  font-family: 'Ultra', serif;
  color: black;
}

.page-template-template-browse h3 {
  margin: 0;
  padding: 0;
}

.browse-cardx {
  margin: 10px 3px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px  1px 2px;
}

.posts-navigation .nav-links {
  font-size: 24px;
}

article {
  padding-top: 20px;
}

.recipes .row > div {
  padding: 0 8%;
}

.search-results {
  hr {
    width: 100%;
    margin: 1em 0 0 0;
  }
  .search-title {
    display: inline;
  }
  .ad-units {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 765px) {
  .search-results .ad-units {
    margin-top: 300px;
  }
}

.search-result {
  h2 {
    font-family: 'PT Sans', sans-serif;
    display: inline;
    font-size: 24px;
    a {
      text-decoration: underline;
      color: #aa4a14;
    }
  }
  .fa-lock, .fa-unlock {
    margin: 0 20px;
    color: #aeacad;
    font-size: 24px;
  }
}

.fa-lock, .fa-unlock {
  color: #aeacad;
}

.ad-unit-box {
  background-color: #fafafa;
}

.right-rail-container .ad-unit-box {
  margin: 0 0 16px 0;
}

.row .ad-units {
  margin-top: 30px;
}

@media only screen and (min-width: 765px) {
  .row .ad-units {
    margin-top: 30px;
  }
}

.ad-units-header {
  display: none;
  &.newbrew {
    margin: 0 0 20px 0 !important;
    float: left;
    width: 518px;
  }
}

@media only screen and (min-width: 765px) {
  .ad-units-header {
    display: block;
    margin: 0 25% 10px;
  }
}

.ad-units-home-btf {
  margin: 0 25% 20px;
}

@media only screen and (min-width: 765px) {
  .ad-units-home-btf {
    margin: 0 0 20px;
  }
}

.ad-units-footer {
  display: block;
}

.related-content h4 {
  margin: 20px 0;
  border-bottom: 1px solid #e8e8e8;
  line-height: 0;
}

@media only screen and (min-width: 765px) {
  .related-content {
    padding: 0 60px;
  }
}

@media only screen and (min-width: 1080px) {
  .related-content {
    padding: 0 140px;
  }
}

.site-footer {
  margin: 25px 0 0 0;
  h3, h6 {
    color: white;
    font-family: 'Ultra', serif;
  }
  .copyright {
    padding: 15px 0;
    color: white;
  }
  .footer-menu {
    padding: 0 0 60px 0;
    background-color: #797770;
    .contact {
      color: white;
      text-transform: uppercase;
    }
    h3 {
      font-size: 30px;
      letter-spacing: 1px;
    }
    .footer-ad-block {
      margin: 30px 0 0 0;
    }
    .nav li {
      display: block;
      width: 100%;
      a {
        text-decoration: none;
        width: 100%;
        padding: 0px 0 0 0;
        color: #d9b818;
        text-transform: uppercase;
        font-size: 12px;
        .fa {
          margin: 10px 4px 0px 0;
          font-size: 44px;
          color: white;
        }
        .fa-facebook {
          border-radius: 4px;
          padding: 5px 2px 0px 17px;
          background-color: #40509d;
        }
        .fa-twitter {
          border-radius: 4px;
          padding: 2px;
          background-color: #5db4ed;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    .dropdown-menu {
      display: block;
      background-color: transparent;
      box-shadow: none;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border: 0;
      li {
        margin: 0 0 0 15px !important;
      }
    }
    .navbar-nav {
      margin: 0 0 0 -5px;
    }
  }
  .footer-bottom {
    padding: 0 0 20px 0;
    background-color: #aa4a14;
    .nav > li a {
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 14px;
      color: white;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

@media only screen and (min-width: 765px) {
  .site-footer .footer-menu .nav li {
    margin: 0 !important;
  }
}

@media only screen and (min-width: 600px) {
  .site-footer .footer-menu .navbar-nav {
    margin: 0 0 0 0;
  }
}

.wc-memberships-restriction-message {
  border: 0 !important;
  padding: 0 !important;
  &.woocommerce-info::before {
    display: none !important;
  }
}

.browse-card .wc-memberships-restriction-message, .search-result .wc-memberships-restriction-message {
  display: none !important;
}

.woocommerce ul.products, .woocommerce-page ul.products {
  width: auto;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.woocommerce ul.products li, .woocommerce-page ul.products li {
  list-style-type: none !important;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width: inherit;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  list-style: none !important;
  float: none !important;
  line-height: auto !important;
  display: block !important;
  box-sizing: inherit !important;
}

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
  clear: inherit !important;
  list-style: none !important;
}

.woocommerce {
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt {
    background-color: #42b592 !important;
  }
}

// fix checkbox in product and checkout out forms
.woocommerce-form__input-checkbox {
  margin-top: 8px !important;
}
.woocommerce-shipping-fields {
  .woocommerce-form__input-checkbox {
    margin-top: 4px !important;
    margin-left: -2px !important;
  }
}
.woocommerce-form__label-for-checkbox > span {
  padding-left: 20px;
}

 .byo-form input {
   font-family: 'PT Sans', sans-serif !important;
 }

.byo-wc-product-block {
  min-height: 360px;
  margin: 6px 0px;
  border: 1px solid #aeacad;
  padding: 15px;
  display: block;
}

.page-template-template-event .subscribe-tag,
.woocommerce .ad-units-header,
.woocommerce-page .ad-units-header,
.woocomerce-cart .ad-units-header,
.woocommerce .subscribe-tag,
.woocommerce-page .subscribe-tag,
.woocomerce-cart .subscribe-tag
 {
  display: none;

}

.woocommerce table.my_account_orders .order-actions {
	display:none;
}
.woocommerce-MyAccount-navigation-link--subscriptions  {
//  display: none;
}
.landing-page {
  #opc-product-selection {
    display:none;
  }
  .product-quantity {
    display: none;
  }
}

.shop-subscribe-ad {
  padding: 20px 0;
}

.optinmonster-col {
  padding-left: 0;
  padding-right: 0;
}

.byo-body {
  padding: 0;
  margin: 0 !important;
}

.byo-element-title-content {
  font-family: 'Ultra', serif !important;
}

.byo-element-tagline-content strong {
  font-family: 'Ultra', serif !important;
  font-size: 24px;
}

.byo-element-image img {
  width: auto !important;
  border: 0;
}

/*# sourceMappingURL=main.css.map */
