$color__browse-red: #aa4a14;

.swg-sidebar-filter,
.swg-expand-collapse,
.swg-expand-collapse ul,
.swg-expand-collapse li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.swg-search-filter-sidebar {
  padding-left: 24px;
  
  h6.searches {
    background: none;
    color: #333;
    font-size: 19px;
    line-height: 24px !important;// Get rid of !important after you've figured out why it's in the main stylesheet and fixed it there.
    text-align: left;
    padding: 0;
    border: none;
    margin: 7px 0 20px;
  }
  
  #swg-filter-active-tags {
    margin-bottom: 0;
    overflow: hidden;
    
    &> span {
      float: left;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      padding: 5px 0 6px 9px;
      background: #F5F3EC;
      cursor: pointer;
      margin-right: 5px;
      margin-bottom: 5px;
      
      &:after {
        font-family: sans-serif;
        cursor: pointer;
        position: relative;
        content: "X";
        display: inline-block;
        padding-left: 9px;
        padding-right: 9px;
        font-size: 14px;
        font-family: sans-serif;
      }
    }
  }
  
  .swg-sidebar-filter {
    .swg-expand-collapse {
      .items {
        display: none;
      }
      
      h5 {
        margin-right: 60px;
        
        label {
          cursor: pointer;
          display: inline-block;
          
          &:before {
            position: relative;
            top: 3px;
            content: "+";
            display: inline-block;
            width: 36px;
            text-align: center;
            font-size: 24px;
            line-height: 1;
            padding-right: 22px;
          }
          
          &.expanded {
            &:before {
              content: "-";
            }
          }
        }
        
        .clear {
          //display: none;
          float: right;
          text-decoration: underline;
          font-weight: normal;
          color: $color__browse-red;
          cursor: pointer;
        }
      }
      
      &.expanded {
        .items {
          display: block;
        }
        
        h5 {
          label {
            &:before {
              content: "-";
            }
          }
        }
      }
    }
    
    .parent-term {
      &> strong {
        display: block;
        margin-bottom: 11px;
        font-size: 16px;
        line-height: 20px;
      }
    }
    
    .filter-term {
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 0;
      
      label {
        font-weight: normal;
        display: inline-block;
        padding-left: 7px;
        margin-bottom: 0;
      }
    }
  }
}

.col-xs-12.swg-filter-col {
  padding-right: 0;
  padding-left: 0;
}

.swg-post-terms-data-wrapper.filtered-out,
.filtered-out {
  display: none;
}

// search by post type
.swg-browse-search--browse-buttons {
  border-bottom: 1px solid #ccc;
  
  ul#search-browse--post-types {
    list-style: none;
    width: 100%;
    padding: 36px 0 24px;
    margin: 0 auto;
    text-align: center;
    
    li {
      display: inline-block;
      
      @media screen and (min-width: 1080px) {
        margin-left: 59px;
      }
      
      @media screen and (min-width: 1020px) {
        margin-left: 20px;
      }
      
      &:first-child {
        margin-left: 0;
      }
      
      a {
        position: relative;
        display: inline-block;
        //padding-top: 66px;
        
        &:link,
        &:active,
        &:visited,
        &:hover {
          color: #333;
          text-decoration: none;
          font-family: Ultra, serif;
          font-size: 16px;
          line-height: 20px;
          background: none;
        }
        
        img,
        .swg-browse-button--text {
          display: block;
          width: 100%;
          margin: 0 auto;
        }
        
        img {
          height: auto;
          
          &.swg-active-icon {
            display: none;
          }
        }
        
        &:hover,
        &.swg-active {
          img {
            &.swg-active-icon {
              display: block;
            }
            &.swg-default-icon {
              display: none;
            }
          }
        }
        
        &.swg {
          &-recipe {
            img {
              max-width: 40px;
              margin-bottom: 22px;
            }
          }
          
          &-article {
            img {
              max-width: 44px;
              margin-top: 5px;
              margin-bottom: 27px;
            }
          }
          
          &-project {
            img {
              max-width: 44px;
              margin-bottom: 22px;
            }
          }
          
          &-mr-wizard {
            img {
              max-width: 38px;
              margin-bottom: 22px;
            }
          }
        }
      }
    }
  }
  
  &.browse-page {
    ul#search-browse--post-types {
      li {
        float: left;
        width: 25%;
        margin: 0;
        padding: 0;
        
        a {
          display: block;
          width: 100%;
          padding: 0 25px 20px;
        }
      }
    }
  }
}

.search .form-page.swg-search-form-wrapper {
  margin-top: 0;
}

.search-browse-main {
  border-left: 1px solid #ccc;
}

.search-results .hentry {
  overflow: hidden;
}

// AJAX Load More overrides
.alm-listing {
  .alm-paging-content,
  .alm-reveal {
    &> li.swg-post-terms-data-wrapper {
      margin: 0 0 30px;
      padding: 0;
    }
  }
}
#ajax-load-more.ajax-load-more-wrap.infinite {
  .alm-btn-wrap {
    .alm-load-more-btn.loading {
      opacity: 0;
    }
    
    .spinner {
      opacity: 0;
    }
  }
  
  &.alm-loading {
    .alm-btn-wrap {
      
    }
  }
}

.swg-spinner {
  display: none;
  margin: 20px auto 40px;
  width: 40px;
  height: 10px;
  font-size: 10px;
  
  &> div {
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 0.6em;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
    
    &.rect2 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }
    
    &.rect3 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
}

.loading,
.alm-loading {
  .swg-spinner {
    display: block;
    
    &.done {
      display: none;
    }
  }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }
  20% {
    -webkit-transform: scaleX(1);
    background-color: #00b192;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    background-color: #EAB832;
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }
  20% {
    background-color: #F7E2AA;
    transform: scaleY(1);
    -webkit-transform: scaleX(1);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}

.swg-browse-button {
  display: block;
  float: left;
  padding-top: 28px;
  padding-bottom: 29px;
  padding-left: 17px;
  border-left: 1px solid #d4d4d4;
  font: normal 18px/23px "PT Sans", sans-serif;
  
  a.browse-button {
    display: inline-block;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius: 3px;
    border: none;
    background: $color__browse-red;
    
    &:link,
    &:hover,
    &:active,
    &:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}

.page-template-template-browse .swg-browse-button {
  display: none;
}

// Results and Sort by
.results-info {
  overflow: hidden;
}
.search-found {
  float: left;
  
  &.no-results-found {
    opacity: 0;
  }
}
.swg-results-sort {
  float: right;
  padding-top: 15px;
}

// Hide elements that should only appear once jQuery has loaded
.js-only {
  display: none;
}

// Browse -- shared
.swg-browse-row {
  border-bottom: 1px solid #ccc;
  padding-right: 20px;
  padding-left: 20px;
  
  .swg-browse-search--browse--section-header {
    font: normal 19px/24px Ultra, serif;
    margin: 0;
    padding: 20px 0 40px 20px;
    cursor: pointer;
    color: #333;
    
    &:before {
      position: relative;
      top: 3px;
      content: "+";
      display: inline-block;
      width: 36px;
      text-align: center;
      font-size: 24px;
      line-height: 1;
      padding-right: 22px;
    }
  }
  
  .items {
    display: none;
  }
  
  &.expanded {
    .swg-browse-search--browse--section-header {
      &:before {
        content: "-";
      }
    }
    
    .items {
      display: block;
    }
  }
  
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #swg-browse-search--browse--recipe-type-select {
    padding-left: 67px;
    
    ul {
      li {
        margin-bottom: 36px;
        font-size: 19px;
        font-weight: bold;
        line-height: 24px;
        
        label {
          margin: 0;
        }
        
        input[type="checkbox"] {
          margin: 0 9px 0 0;
        }
      }
    }
  }
}

// Browse -- beer type and style
#swg-browse-search--browse--beer-styles {
  border-left: 1px solid #d4d4d4;
  
  .swg-browse-search--beer-style-group {
    .swg-beer-family-name {
      font: bold 19px/24px 'PT Sans', sans-serif;
      color: #333;
    }
  }
  
  ul {
    padding-bottom: 36px;
    
    li {
      a {
        font: normal 20px/30px 'PT Sans', sans-serif;
        
        &:link,
        &:hover,
        &:active,
        &:focus,
        &:visited {
          color: $color__browse-red;
        }
        
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#swg-browse-search--browse {
  &--magazine-archive,
  &--topics {
    .row.items {
      margin-right: auto;
      margin-left: auto;
      padding: 0 20px 20px;
    }
  }
}

// Browse -- magazine archives
#swg-browse-search--browse--magazine-archive {
  #swg-browse--magazine-year-links {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 44px;
    
    #swg-browse--magazine-year-links-wrapper {
      position: relative;
      z-index: 5;
      text-align: center;
      margin-left: 60px;
      margin-right: 60px;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0;
      line-height: 0;
      
      li {
        display: inline-block;
        position: relative;
        margin-left: 31px;
        
        &:first-child {
          margin-left: 0;
        }
        
        a {
          display: block;
          padding: 8px 14px;
          
          &:link,
          &:hover,
          &:visited,
          &:active {
            font: normal 20px/26px 'PT Sans', sans-serif;
            color: $color__browse-red;
          }
          
          &:active,
          &.active {
            background: #d9b818;
            color: #000;
            font-weight: bold;
          }
          
          &:active,
          &.active,
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    
    .year-nav-arrow {
      position: absolute;
      cursor: pointer;
      z-index: 10;
      top: 0;
      font-size: 0;
      line-height: 0;
      background-color: $color__browse-red;
      width: 44px;
      height: 44px;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      
      &.year-nav-arrow {
        &--prev {
          left: 0;
          background-image: url('../../images/leftarrow.png');
        }
        
        &--next {
          right: 0;
          background-image: url('../../images/rightarrow.png');
        }
      }
    }
  }
  
  .row.items {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .swg-browse--year-container {
    width: 100%;
    max-width: 1224px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 100%;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    
    &.active {
      position: relative;
      left: 0;
      opacity: 1;
    }
  }
  
  .swg-browse--magazine-archive-item {
    padding-top: 34px;
    height: auto;
    font-size: 0;
    line-height: 0;
    margin: 0 -1px;
    
    a {
      &:link,
      &:hover,
      &:active,
      &:visited {
        background: #D3D3D3;
      }
      
      display: block;
      position: relative;
      height: 100%;
      
      .swg-browse--magazine-title {
        position: absolute;
        bottom: 0;
        z-index: 10;
        display: block;
        width: 100%;
        padding: 12px 5px 11px;
        background: #d9b819;
        text-align: center;
        text-transform: uppercase;
        font: bold 13px/1.2 'PT Sans', sans-serif;
        color: #000;
      }
      
      .swg-browse--magazine-cover {
        position: relative;
        z-index: 5;
        display: block;
        width: 100%;
        
        img {
          display: block;
          width: 100%;
          border: 1px solid #eee;
        }
      }
    }
  }
}

// Browse -- topics
#swg-browse-search--browse--topics {
  border-bottom: none;
  padding-bottom: 23px;
  
  ul {
    li {
      a {
        &:link,
        &:hover,
        &:active,
        &:focus
        &:visited {
          color: $color__browse-red;
        }
        
        font: normal 20px/36px 'PT Sans', sans-serif;
      }
    }
  }
}

main input[type="submit"], main button:hover {
  &.search-submit {
    transform: none;
  }
}

.swg-search-form-wrapper {
  form button, input[type=submit] {
    &.search-submit {
      margin: 0;
      clear: none;
    }
  }
}

.page-template-template-browse {
  .site-footer {
    h3 {
      padding-top: 1em;
    }
  }
}

.alm-listing {
  .alm-paging-content,
  .alm-reveal {
    &> li {
      .search-result-post {
        img {
          position: relative;
        }
      }
    }
  }
}

.no-results {
  display: none;
  text-align: center;
  padding: 0 20px;
}

.swg-alm-no-results {
  margin-top: 20px;
}

// Override, this is currently on prod but missing from this repo
.restriction .lock-content {
  background-color: #B7B5C0;
}
  
.form-page.swg-search-form-wrapper {
  overflow: hidden;
  // Overrides
  margin: 15px 0;
  padding: 0;
  // End overrides
}

// Override for ad units
.ad-unit-box {
  clear: both;
}

@media only screen and (min-width: 1110px) {
  // search by post type
  .swg-browse-search--browse-buttons {
    ul#search-browse--post-types {
      li {
        float: left;
        width: 25%;
        margin: 0;
        padding: 0;
        
        a {
          display: block;
          width: 100%;
          padding: 0 25px 20px;
          
          &.swg {
            &-recipe {
              img {
                max-width: 60px;
                margin-bottom: 24px;
              }
            }
            
            &-article {
              img {
                max-width: 64px;
                margin-top: 7px;
                margin-bottom: 34px;
              }
            }
            
            &-project {
              img {
                max-width: 64px;
                margin-bottom: 27px;
              }
            }
            
            &-mr-wizard {
              img {
                max-width: 58px;
                margin-bottom: 23px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 765px) {
  .swg-mobile-only {
    display: none;
  }
  
  .form-page.swg-search-form-wrapper {
    .search-form {
      float: left;
      width: 81.25%;
      padding: 28px 0 29px;
      
      .form-group {
        //width: 75.961%;
        margin: 0 21px 0;
        
        .search-field {
          width: 100%;
          margin-top: 0;
        }
      }
      
      button.search-submit {
        font-size: 18px;
        line-height: 23px;
        border-radius: 3px;
        border: none;
        height: auto !important;
      }
    }
  }
  
  .swg-browse--magazine-archive-item:nth-child(4n+0) {
    &:after {
      content: " ";
      visibility: hidden;
      display: block;
      width: 100%;
      clear: both;
    }
  }
}

@media screen and (max-width: 2000px) {
  .form-page.swg-search-form-wrapper {
    .search-form {
      width: 85.25%;
      padding-right: 17px;
      
      .form-group {
        margin-right: 0;
        width: 87%;
      }
      
      button.search-submit {
        float: right;
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .form-page.swg-search-form-wrapper {
    .search-form {
      .form-group {
        width: 84%;
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .form-page.swg-search-form-wrapper {
    .search-form {
      .form-group {
        width: 84%;
      }
    }
  }
}

@media screen and (max-width: 1121px) {
  .form-page.swg-search-form-wrapper {
    .search-form {
      .form-group {
        width: 82%;
      }
    }
  }
  
  #swg-browse-search--browse--magazine-archive {
    #swg-browse--magazine-year-links {
      #swg-browse--magazine-year-links-wrapper {
        li {
          //margin-left: 1%;
        }
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .form-page.swg-search-form-wrapper {
    .search-form {
      .form-group {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .form-page.swg-search-form-wrapper {
    overflow: hidden;
    padding: 0;
    
    .search-form {
      width: 100%;
      float: none;
      display: block;
      clear: both;
      padding: 20px;
      
      button.search-submit {
        float: none;
        display: block;
        width: 100%;
      }
    }
  }
  
  .form-page {
    #swg-browse-search-main-search-form {
      .form-group {
        display: block;
        margin: 0;
        width: 100%;
        padding-bottom: 20px;
      }
      
      .search-field,
      button.search-submit {
        width: 100% !important;
      }
      
      .search-field {
        margin: 0;
      }
    }
  }
  
  .swg-browse-button {
    padding: 20px;
    float: none;
    width: 100%;
    text-align: center;
    border-left: none;
    border-top: 1px solid #d4d4d4;
    
    a.browse-button {
      display: block;
      width: 100%;
    }
  }
  
  .search-browse-main {
    border-left: none;
  }
  
  .swg-browse-search--browse-buttons.browse-page {
    ul#search-browse--post-types {
      li {
        margin-left: 20px;
        
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 764px) {
  .swg-mobile-only {
    display: block;
  }
  
  #swg-browse-search-magazine-select-form {
    width: 100%;
    margin: 0;
    
    label,
    select {
      display: block;
      margin-bottom: 10px !important;
      width: 100% !important;
      text-align: center;
    }
    
    select {
      //font-size: 50px;
    }
  }
  
  #swg-browse-search--browse--magazine-archive {
    .swg-browse--magazine-archive-item {
      a {
        &:link,
        &:hover,
        &:active,
        &:visited {
          .swg-browse--magazine-title {
            font-weight: normal;
          }
        }
      }
    }
  }
  
  .swg-filter-col {
    border-bottom: 1px solid #ccc;
    
    &> .row {
      display: none;
    }
    
    .swg-mobile-toggle {
      cursor: pointer;
      
      &:before {
        position: relative;
        top: 3px;
        content: "+";
        display: inline-block;
        width: 36px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
        padding-right: 22px;
      }
    }
    
    &.expanded {
      .swg-mobile-toggle {
        &:before {
          content: "-";
        }
      }
    }
  }
  
  .swg-browse-button {
    font-size: 14px;
    line-height: 1.428571429;
  }
  
  .swg-browse-row {
    .swg-browse-search--browse--section-header {
      padding: 20px;
      font-size: 14px;
    }
    
    #swg-browse-search--browse--recipe-type-select {
      padding: 20px;
      border-bottom: 1px solid #d4d4d4;
      
      ul {
        li {
          margin-bottom: 15px;
        }
      }
    }
    
    #swg-browse-search--browse--beer-styles {
      border-left: none;
    }
  }
  
  .swg-desktop-only {
    display: none;
  }
  
  #swg-browse-search--browse--magazine-archive {
    #swg-browse--magazine-year-links {
      .year-nav-arrow {
        display: none;
      }
    }
    
    .swg-browse--magazine-archive-item:nth-child(3n+0) {
      &:after {
        content: " ";
        visibility: hidden;
        display: block;
        clear: both;
      }
    }
  }
  .swg-browse-search--browse-buttons {
    ul#search-browse--post-types {
      display: flex;
      flex-wrap: wrap;
      
      li {
        float: left;
        width: 50%;
        margin-right: -1px;
        margin-left: -1px;
      }
      .hits-count {
        display: none;
      }
    }
  }
  
  .search-result {
    .entry-footer.text-right {
      margin-top: 1em;
      text-align: left;
    }
  }
}

@media screen and (max-width: 599px) {
  #swg-browse-search--browse--magazine-archive {
    .swg-browse--magazine-archive-item:nth-child(2n+0) {
      &:after {
        content: " ";
        visibility: hidden;
        display: block;
        clear: both;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .swg-browse-search--browse-buttons.browse-page {
    ul#search-browse--post-types {
      overflow: hidden;
      
      li {
        width: 50%;
        margin-left: 0;
        float: left;
      }
    }
  }
}
