.swg-sidebar-filter,
.swg-expand-collapse,
.swg-expand-collapse ul,
.swg-expand-collapse li {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.swg-search-filter-sidebar {
  padding-left: 24px; }
  .swg-search-filter-sidebar h6.searches {
    background: none;
    color: #333;
    font-size: 19px;
    line-height: 24px !important;
    text-align: left;
    padding: 0;
    border: none;
    margin: 7px 0 20px; }
  .swg-search-filter-sidebar #swg-filter-active-tags {
    margin-bottom: 0;
    overflow: hidden; }
    .swg-search-filter-sidebar #swg-filter-active-tags > span {
      float: left;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      padding: 5px 0 6px 9px;
      background: #F5F3EC;
      cursor: pointer;
      margin-right: 5px;
      margin-bottom: 5px; }
      .swg-search-filter-sidebar #swg-filter-active-tags > span:after {
        font-family: sans-serif;
        cursor: pointer;
        position: relative;
        content: "X";
        display: inline-block;
        padding-left: 9px;
        padding-right: 9px;
        font-size: 14px;
        font-family: sans-serif; }
  .swg-search-filter-sidebar .swg-sidebar-filter .swg-expand-collapse .items {
    display: none; }
  .swg-search-filter-sidebar .swg-sidebar-filter .swg-expand-collapse h5 {
    margin-right: 60px; }
    .swg-search-filter-sidebar .swg-sidebar-filter .swg-expand-collapse h5 label {
      cursor: pointer;
      display: inline-block; }
      .swg-search-filter-sidebar .swg-sidebar-filter .swg-expand-collapse h5 label:before {
        position: relative;
        top: 3px;
        content: "+";
        display: inline-block;
        width: 36px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
        padding-right: 22px; }
      .swg-search-filter-sidebar .swg-sidebar-filter .swg-expand-collapse h5 label.expanded:before {
        content: "-"; }
    .swg-search-filter-sidebar .swg-sidebar-filter .swg-expand-collapse h5 .clear {
      float: right;
      text-decoration: underline;
      font-weight: normal;
      color: #aa4a14;
      cursor: pointer; }
  .swg-search-filter-sidebar .swg-sidebar-filter .swg-expand-collapse.expanded .items {
    display: block; }
  .swg-search-filter-sidebar .swg-sidebar-filter .swg-expand-collapse.expanded h5 label:before {
    content: "-"; }
  .swg-search-filter-sidebar .swg-sidebar-filter .parent-term > strong {
    display: block;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 20px; }
  .swg-search-filter-sidebar .swg-sidebar-filter .filter-term {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0; }
    .swg-search-filter-sidebar .swg-sidebar-filter .filter-term label {
      font-weight: normal;
      display: inline-block;
      padding-left: 7px;
      margin-bottom: 0; }

.col-xs-12.swg-filter-col {
  padding-right: 0;
  padding-left: 0; }

.swg-post-terms-data-wrapper.filtered-out,
.filtered-out {
  display: none; }

.swg-browse-search--browse-buttons {
  border-bottom: 1px solid #ccc; }
  .swg-browse-search--browse-buttons ul#search-browse--post-types {
    list-style: none;
    width: 100%;
    padding: 36px 0 24px;
    margin: 0 auto;
    text-align: center; }
    .swg-browse-search--browse-buttons ul#search-browse--post-types li {
      display: inline-block; }
      @media screen and (min-width: 1080px) {
        .swg-browse-search--browse-buttons ul#search-browse--post-types li {
          margin-left: 59px; } }
      @media screen and (min-width: 1020px) {
        .swg-browse-search--browse-buttons ul#search-browse--post-types li {
          margin-left: 20px; } }
      .swg-browse-search--browse-buttons ul#search-browse--post-types li:first-child {
        margin-left: 0; }
      .swg-browse-search--browse-buttons ul#search-browse--post-types li a {
        position: relative;
        display: inline-block; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a:link, .swg-browse-search--browse-buttons ul#search-browse--post-types li a:active, .swg-browse-search--browse-buttons ul#search-browse--post-types li a:visited, .swg-browse-search--browse-buttons ul#search-browse--post-types li a:hover {
          color: #333;
          text-decoration: none;
          font-family: Ultra, serif;
          font-size: 16px;
          line-height: 20px;
          background: none; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a img,
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a .swg-browse-button--text {
          display: block;
          width: 100%;
          margin: 0 auto; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a img {
          height: auto; }
          .swg-browse-search--browse-buttons ul#search-browse--post-types li a img.swg-active-icon {
            display: none; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a:hover img.swg-active-icon, .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-active img.swg-active-icon {
          display: block; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a:hover img.swg-default-icon, .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-active img.swg-default-icon {
          display: none; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-recipe img {
          max-width: 40px;
          margin-bottom: 22px; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-article img {
          max-width: 44px;
          margin-top: 5px;
          margin-bottom: 27px; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-project img {
          max-width: 44px;
          margin-bottom: 22px; }
        .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-mr-wizard img {
          max-width: 38px;
          margin-bottom: 22px; }
  .swg-browse-search--browse-buttons.browse-page ul#search-browse--post-types li {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0; }
    .swg-browse-search--browse-buttons.browse-page ul#search-browse--post-types li a {
      display: block;
      width: 100%;
      padding: 0 25px 20px; }

.search .form-page.swg-search-form-wrapper {
  margin-top: 0; }

.search-browse-main {
  border-left: 1px solid #ccc; }

.search-results .hentry {
  overflow: hidden; }

.alm-listing .alm-paging-content > li.swg-post-terms-data-wrapper,
.alm-listing .alm-reveal > li.swg-post-terms-data-wrapper {
  margin: 0 0 30px;
  padding: 0; }

#ajax-load-more.ajax-load-more-wrap.infinite .alm-btn-wrap .alm-load-more-btn.loading {
  opacity: 0; }
#ajax-load-more.ajax-load-more-wrap.infinite .alm-btn-wrap .spinner {
  opacity: 0; }

.swg-spinner {
  display: none;
  margin: 20px auto 40px;
  width: 40px;
  height: 10px;
  font-size: 10px; }
  .swg-spinner > div {
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 0.6em;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out; }
    .swg-spinner > div.rect2 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s; }
    .swg-spinner > div.rect3 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; }

.loading .swg-spinner,
.alm-loading .swg-spinner {
  display: block; }
  .loading .swg-spinner.done,
  .alm-loading .swg-spinner.done {
    display: none; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1); }
  20% {
    -webkit-transform: scaleX(1);
    background-color: #00b192;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4); } }
@keyframes stretchdelay {
  0%, 40%, 100% {
    background-color: #EAB832;
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1); }
  20% {
    background-color: #F7E2AA;
    transform: scaleY(1);
    -webkit-transform: scaleX(1);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4); } }
.swg-browse-button {
  display: block;
  float: left;
  padding-top: 28px;
  padding-bottom: 29px;
  padding-left: 17px;
  border-left: 1px solid #d4d4d4;
  font: normal 18px/23px "PT Sans", sans-serif; }
  .swg-browse-button a.browse-button {
    display: inline-block;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius: 3px;
    border: none;
    background: #aa4a14; }
    .swg-browse-button a.browse-button:link, .swg-browse-button a.browse-button:hover, .swg-browse-button a.browse-button:active, .swg-browse-button a.browse-button:visited {
      color: #fff;
      text-decoration: none; }

.page-template-template-browse .swg-browse-button {
  display: none; }

.results-info {
  overflow: hidden; }

.search-found {
  float: left; }
  .search-found.no-results-found {
    opacity: 0; }

.swg-results-sort {
  float: right;
  padding-top: 15px; }

.js-only {
  display: none; }

.swg-browse-row {
  border-bottom: 1px solid #ccc;
  padding-right: 20px;
  padding-left: 20px; }
  .swg-browse-row .swg-browse-search--browse--section-header {
    font: normal 19px/24px Ultra, serif;
    margin: 0;
    padding: 20px 0 40px 20px;
    cursor: pointer;
    color: #333; }
    .swg-browse-row .swg-browse-search--browse--section-header:before {
      position: relative;
      top: 3px;
      content: "+";
      display: inline-block;
      width: 36px;
      text-align: center;
      font-size: 24px;
      line-height: 1;
      padding-right: 22px; }
  .swg-browse-row .items {
    display: none; }
  .swg-browse-row.expanded .swg-browse-search--browse--section-header:before {
    content: "-"; }
  .swg-browse-row.expanded .items {
    display: block; }
  .swg-browse-row ul, .swg-browse-row li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .swg-browse-row #swg-browse-search--browse--recipe-type-select {
    padding-left: 67px; }
    .swg-browse-row #swg-browse-search--browse--recipe-type-select ul li {
      margin-bottom: 36px;
      font-size: 19px;
      font-weight: bold;
      line-height: 24px; }
      .swg-browse-row #swg-browse-search--browse--recipe-type-select ul li label {
        margin: 0; }
      .swg-browse-row #swg-browse-search--browse--recipe-type-select ul li input[type="checkbox"] {
        margin: 0 9px 0 0; }

#swg-browse-search--browse--beer-styles {
  border-left: 1px solid #d4d4d4; }
  #swg-browse-search--browse--beer-styles .swg-browse-search--beer-style-group .swg-beer-family-name {
    font: bold 19px/24px 'PT Sans', sans-serif;
    color: #333; }
  #swg-browse-search--browse--beer-styles ul {
    padding-bottom: 36px; }
    #swg-browse-search--browse--beer-styles ul li a {
      font: normal 20px/30px 'PT Sans', sans-serif; }
      #swg-browse-search--browse--beer-styles ul li a:link, #swg-browse-search--browse--beer-styles ul li a:hover, #swg-browse-search--browse--beer-styles ul li a:active, #swg-browse-search--browse--beer-styles ul li a:focus, #swg-browse-search--browse--beer-styles ul li a:visited {
        color: #aa4a14; }
      #swg-browse-search--browse--beer-styles ul li a:hover {
        text-decoration: none; }

#swg-browse-search--browse--magazine-archive .row.items, #swg-browse-search--browse--topics .row.items {
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px 20px; }

#swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 44px; }
  #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper {
    position: relative;
    z-index: 5;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    line-height: 0; }
    #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li {
      display: inline-block;
      position: relative;
      margin-left: 31px; }
      #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li:first-child {
        margin-left: 0; }
      #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a {
        display: block;
        padding: 8px 14px; }
        #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a:link, #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a:hover, #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a:visited, #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a:active {
          font: normal 20px/26px 'PT Sans', sans-serif;
          color: #aa4a14; }
        #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a:active, #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a.active {
          background: #d9b818;
          color: #000;
          font-weight: bold; }
        #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a:active, #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a.active, #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links #swg-browse--magazine-year-links-wrapper li a:hover {
          text-decoration: none; }
  #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links .year-nav-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 0;
    font-size: 0;
    line-height: 0;
    background-color: #aa4a14;
    width: 44px;
    height: 44px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%; }
    #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links .year-nav-arrow.year-nav-arrow--prev {
      left: 0;
      background-image: url("../../images/leftarrow.png"); }
    #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links .year-nav-arrow.year-nav-arrow--next {
      right: 0;
      background-image: url("../../images/rightarrow.png"); }
#swg-browse-search--browse--magazine-archive .row.items {
  position: relative;
  width: 100%;
  overflow: hidden; }
#swg-browse-search--browse--magazine-archive .swg-browse--year-container {
  width: 100%;
  max-width: 1224px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 100%;
  opacity: 0;
  display: flex;
  flex-wrap: wrap; }
  #swg-browse-search--browse--magazine-archive .swg-browse--year-container.active {
    position: relative;
    left: 0;
    opacity: 1; }
#swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item {
  padding-top: 34px;
  height: auto;
  font-size: 0;
  line-height: 0;
  margin: 0 -1px; }
  #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a {
    display: block;
    position: relative;
    height: 100%; }
    #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a:link, #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a:hover, #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a:active, #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a:visited {
      background: #D3D3D3; }
    #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a .swg-browse--magazine-title {
      position: absolute;
      bottom: 0;
      z-index: 10;
      display: block;
      width: 100%;
      padding: 12px 5px 11px;
      background: #d9b819;
      text-align: center;
      text-transform: uppercase;
      font: bold 13px/1.2 'PT Sans', sans-serif;
      color: #000; }
    #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a .swg-browse--magazine-cover {
      position: relative;
      z-index: 5;
      display: block;
      width: 100%; }
      #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a .swg-browse--magazine-cover img {
        display: block;
        width: 100%;
        border: 1px solid #eee; }

#swg-browse-search--browse--topics {
  border-bottom: none;
  padding-bottom: 23px; }
  #swg-browse-search--browse--topics ul li a {
    font: normal 20px/36px 'PT Sans', sans-serif; }
    #swg-browse-search--browse--topics ul li a:link, #swg-browse-search--browse--topics ul li a:hover, #swg-browse-search--browse--topics ul li a:active, #swg-browse-search--browse--topics ul li a:focus
    #swg-browse-search--browse--topics ul li a:visited {
      color: #aa4a14; }

main input[type="submit"].search-submit, main button:hover.search-submit {
  transform: none; }

.swg-search-form-wrapper form button.search-submit, .swg-search-form-wrapper input[type=submit].search-submit {
  margin: 0;
  clear: none; }

.page-template-template-browse .site-footer h3 {
  padding-top: 1em; }

.alm-listing .alm-paging-content > li .search-result-post img,
.alm-listing .alm-reveal > li .search-result-post img {
  position: relative; }

.no-results {
  display: none;
  text-align: center;
  padding: 0 20px; }

.swg-alm-no-results {
  margin-top: 20px; }

.restriction .lock-content {
  background-color: #B7B5C0; }

.form-page.swg-search-form-wrapper {
  overflow: hidden;
  margin: 15px 0;
  padding: 0; }

.ad-unit-box {
  clear: both; }

@media only screen and (min-width: 1110px) {
  .swg-browse-search--browse-buttons ul#search-browse--post-types li {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0; }
    .swg-browse-search--browse-buttons ul#search-browse--post-types li a {
      display: block;
      width: 100%;
      padding: 0 25px 20px; }
      .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-recipe img {
        max-width: 60px;
        margin-bottom: 24px; }
      .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-article img {
        max-width: 64px;
        margin-top: 7px;
        margin-bottom: 34px; }
      .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-project img {
        max-width: 64px;
        margin-bottom: 27px; }
      .swg-browse-search--browse-buttons ul#search-browse--post-types li a.swg-mr-wizard img {
        max-width: 58px;
        margin-bottom: 23px; } }
@media only screen and (min-width: 765px) {
  .swg-mobile-only {
    display: none; }

  .form-page.swg-search-form-wrapper .search-form {
    float: left;
    width: 81.25%;
    padding: 28px 0 29px; }
    .form-page.swg-search-form-wrapper .search-form .form-group {
      margin: 0 21px 0; }
      .form-page.swg-search-form-wrapper .search-form .form-group .search-field {
        width: 100%;
        margin-top: 0; }
    .form-page.swg-search-form-wrapper .search-form button.search-submit {
      font-size: 18px;
      line-height: 23px;
      border-radius: 3px;
      border: none;
      height: auto !important; }

  .swg-browse--magazine-archive-item:nth-child(4n+0):after {
    content: " ";
    visibility: hidden;
    display: block;
    width: 100%;
    clear: both; } }
@media screen and (max-width: 2000px) {
  .form-page.swg-search-form-wrapper .search-form {
    width: 85.25%;
    padding-right: 17px; }
    .form-page.swg-search-form-wrapper .search-form .form-group {
      margin-right: 0;
      width: 87%; }
    .form-page.swg-search-form-wrapper .search-form button.search-submit {
      float: right; } }
@media screen and (max-width: 1330px) {
  .form-page.swg-search-form-wrapper .search-form .form-group {
    width: 84%; } }
@media screen and (max-width: 1330px) {
  .form-page.swg-search-form-wrapper .search-form .form-group {
    width: 84%; } }
@media screen and (max-width: 1121px) {
  .form-page.swg-search-form-wrapper .search-form .form-group {
    width: 82%; } }
@media screen and (max-width: 1030px) {
  .form-page.swg-search-form-wrapper .search-form .form-group {
    width: 80%; } }
@media screen and (max-width: 860px) {
  .form-page.swg-search-form-wrapper {
    overflow: hidden;
    padding: 0; }
    .form-page.swg-search-form-wrapper .search-form {
      width: 100%;
      float: none;
      display: block;
      clear: both;
      padding: 20px; }
      .form-page.swg-search-form-wrapper .search-form button.search-submit {
        float: none;
        display: block;
        width: 100%; }

  .form-page #swg-browse-search-main-search-form .form-group {
    display: block;
    margin: 0;
    width: 100%;
    padding-bottom: 20px; }
  .form-page #swg-browse-search-main-search-form .search-field,
  .form-page #swg-browse-search-main-search-form button.search-submit {
    width: 100% !important; }
  .form-page #swg-browse-search-main-search-form .search-field {
    margin: 0; }

  .swg-browse-button {
    padding: 20px;
    float: none;
    width: 100%;
    text-align: center;
    border-left: none;
    border-top: 1px solid #d4d4d4; }
    .swg-browse-button a.browse-button {
      display: block;
      width: 100%; }

  .search-browse-main {
    border-left: none; }

  .swg-browse-search--browse-buttons.browse-page ul#search-browse--post-types li {
    margin-left: 20px; }
    .swg-browse-search--browse-buttons.browse-page ul#search-browse--post-types li:first-child {
      margin-left: 0; } }
@media screen and (max-width: 764px) {
  .swg-mobile-only {
    display: block; }

  #swg-browse-search-magazine-select-form {
    width: 100%;
    margin: 0; }
    #swg-browse-search-magazine-select-form label,
    #swg-browse-search-magazine-select-form select {
      display: block;
      margin-bottom: 10px !important;
      width: 100% !important;
      text-align: center; }

  #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a:link .swg-browse--magazine-title, #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a:hover .swg-browse--magazine-title, #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a:active .swg-browse--magazine-title, #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item a:visited .swg-browse--magazine-title {
    font-weight: normal; }

  .swg-filter-col {
    border-bottom: 1px solid #ccc; }
    .swg-filter-col > .row {
      display: none; }
    .swg-filter-col .swg-mobile-toggle {
      cursor: pointer; }
      .swg-filter-col .swg-mobile-toggle:before {
        position: relative;
        top: 3px;
        content: "+";
        display: inline-block;
        width: 36px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
        padding-right: 22px; }
    .swg-filter-col.expanded .swg-mobile-toggle:before {
      content: "-"; }

  .swg-browse-button {
    font-size: 14px;
    line-height: 1.428571429; }

  .swg-browse-row .swg-browse-search--browse--section-header {
    padding: 20px;
    font-size: 14px; }
  .swg-browse-row #swg-browse-search--browse--recipe-type-select {
    padding: 20px;
    border-bottom: 1px solid #d4d4d4; }
    .swg-browse-row #swg-browse-search--browse--recipe-type-select ul li {
      margin-bottom: 15px; }
  .swg-browse-row #swg-browse-search--browse--beer-styles {
    border-left: none; }

  .swg-desktop-only {
    display: none; }

  #swg-browse-search--browse--magazine-archive #swg-browse--magazine-year-links .year-nav-arrow {
    display: none; }
  #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item:nth-child(3n+0):after {
    content: " ";
    visibility: hidden;
    display: block;
    clear: both; }

  .swg-browse-search--browse-buttons ul#search-browse--post-types {
    display: flex;
    flex-wrap: wrap; }
    .swg-browse-search--browse-buttons ul#search-browse--post-types li {
      float: left;
      width: 50%;
      margin-right: -1px;
      margin-left: -1px; }
    .swg-browse-search--browse-buttons ul#search-browse--post-types .hits-count {
      display: none; }

  .search-result .entry-footer.text-right {
    margin-top: 1em;
    text-align: left; } }
@media screen and (max-width: 599px) {
  #swg-browse-search--browse--magazine-archive .swg-browse--magazine-archive-item:nth-child(2n+0):after {
    content: " ";
    visibility: hidden;
    display: block;
    clear: both; } }
@media screen and (max-width: 500px) {
  .swg-browse-search--browse-buttons.browse-page ul#search-browse--post-types {
    overflow: hidden; }
    .swg-browse-search--browse-buttons.browse-page ul#search-browse--post-types li {
      width: 50%;
      margin-left: 0;
      float: left; } }

/*# sourceMappingURL=swg-browse-search.css.map */
